.main-container {
  .desktop-links {
    display: none;
  }
  .mobile-links {
    background-color: pink;
    display: block;
  }
}

@include respond(tablet) {
  .main-container {
    .desktop-links  {
      display: flex;
    }
  }
}

@include respond(desktop) {
  .main-container {
    .desktop-links {
      display: flex;
      ul {
        background-color: $white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .logo-container {
          .links {
            list-style: none;
            .nav-links {
              .logo {
                width: 120px;
              }
            }
          }
        }
        .other-links {
          margin-right: 50px;
          display: flex;
          flex-direction: row;
          .links {
            list-style: none;
            margin-right: 30px;
            .nav-links {
              color: $blue-green;
              font-size: 18px;
              font-weight: bold;
              text-decoration: none;
            }
            .active-link {
              color: $pink;
              font-size: 18px;
              font-weight: bold;
              text-decoration: none;
            }
          }
        }
      }
    }
    .mobile-links {
      display: none;
    }
    footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    bottom: 0;
    height: 45px;
    width: 100%;
    font-size: 13px;
    background-color: $dark-yellow;
    }
  }
}
