
.main-container-wrapper{
 
}


@include respond(phone) {
  .main-container-wrapper {

  }
}

@include respond(tablet) {
  .main-container-wrapper {
    width: 100%;
  }
}
@include respond(desktop) {
  .main-container-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  }
}
