

$white: #FFFFFF;
$main-black: #000;
$white: #FFF;
$dark-yellow: #FAC02D;
$yellow: #FCD855;
$violet: #413A80;
$pink: #F3BABA;
$red: #F74A29;
$blue-green: #0D5768;
$green: #168291;

$text-font: 'Sen', sans-serif;
