$white: #ffffff;
$main-black: #000;
$white: #fff;
$dark-yellow: #fac02d;
$yellow: #fcd855;
$violet: #413a80;
$pink: #f3baba;
$red: #f74a29;
$blue-green: #0d5768;
$green: #168291;

$text-font: "Sen", sans-serif;

$pink: #ff8a80;
