.main-container-about {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom right;
  margin-bottom: 60px;
  .about-title-section {
    font-size: 24px;
    align-self: center;
    text-align: left;
    color: #eba742;
  }

  .side-about {
    .ely-photo {
      margin: auto;
      display: flex;
      height: 200px;
    }
    .description-about {
      font-size: 14px;
      line-height: 23px;
      width: 300px;
      margin: auto;
      text-align: left;
      margin-top: 30px;
    }
  }
}

@include respond(tablet) {
  .main-container-about {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-bottom: 60px;
    .about-title-section {
      font-size: 30px;
      align-self: center;
      text-align: left;
      color: #eba742;
    }
  
    .side-about {
      // margin-top: -100px;
      .ely-photo {
        margin: auto;
        display: flex;
        height: 200px;
      }
      .description-about {
        font-size: 14px;
        line-height: 23px;
        width: 600px;
        margin: auto;
        text-align: left;
        margin-top: 30px;
      }
    }
  }
}

@include respond(desktop) {
  .main-container-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .about-title-section {
      font-size: 30px;
      color: #eba742;
      align-self: center;
      width: 200px;
      text-align: center;
      border-radius: 30px;
      margin-bottom: 30px;
    }
    .side-about {
      margin-bottom: 30px;
      .ely-photo {
        margin: auto;
        display: flex;
        height: 250px;
      }
      .description-about {
        font-size: 14px;
        line-height: 23px;
        width: 700px;
        margin: auto;
        margin-top: 30px;
        text-align: left;
      }
    }
  }
}