.main-container-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 50px;
  .contact-title-section {
    font-size: 28px;
    align-self: center;
    text-align: center;
    color: $violet;
  }
  .side-contact {
    align-self: center;
    .social-media {
      display: flex;
      flex-direction: row;
      margin: 30px;
      .logo {
        width: 30px;
        margin-right: 10px;
        align-self: center;
      }
      a {
        text-decoration: none;
        font-size: 20px;
        color: $blue-green;
        align-self: center;
        font-weight: 600;
      }
    }
  }
}

@include respond(tablet) {
  .main-container-contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    height: 75vh;
    background-image: url('../../assets/contact-background.png');
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: right bottom;
    .contact-title-section {
      font-size: 38px;
      align-self: center;
      text-align: center;
      color: $violet;
    }
    .side-contact {
      align-self: center;
      .social-media {
        display: flex;
        flex-direction: row;
        margin: 30px;
        .logo {
          width: 30px;
          margin-right: 10px;
          align-self: center;
        }
        a {
          text-decoration: none;
          font-size: 20px;
          color: $blue-green;
          align-self: center;
          font-weight: 600;
        }
      }
    }
  }
}

@include respond(desktop) {
  .main-container-contact {
    height: 80vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-image: url('../../assets/contact-background.png');
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: right bottom;
    .contact-title-section {
      font-size: 70px;
      align-self: center;
      color: $violet;
      width: 50%;
    }
    .side-contact {
      width: 50%;
      align-self: center;
      .social-media {
        display: flex;
        flex-direction: row;
        margin: 70px;
        .logo {
          width: 50px;
          margin-right: 30px;
          align-self: center;
        }
        a {
          text-decoration: none;
          font-size: 20px;
          color: $blue-green;
          align-self: center;
          font-weight: 600;
        }
      }
    }
  }
}