.main-container-gallery {
  width: 100%;
  margin-bottom: 80px;
  background-size: 70%;
  .side-gallery {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .image-gallery {
      height: 200px;
      margin: 10px;
      border-radius: 5px;
    }
  }
}

@include respond(desktop) {
  .main-container-gallery {
    width: 100%;
    margin-bottom: 80px;
    .side-gallery {
      margin: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .image-gallery {
        margin: 10px;
        border-radius: 5px;

        height: 250px;
        transition: transform 0.4s ease-in-out;
      }
      .image-gallery:hover {
        transform: scale(2);
      }
    }
  }
}
