.container-gallery {
  background-color: pink;


  .title-section{

  }
  .side-gallery {

    .image-gallery {

    }
  }
}


@include respond(desktop) {
  .container-gallery {
    background-color: pink;
    display: flex;
    flex-direction: row;

    .title-section{
      font-size: 90px;
      background-color:yellow;
    }
    .side-gallery {
      box-sizing: border-box;
      margin: 0 auto;
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-items: flex-start;
      .image-gallery {
        width: 300px;
      }
    }
  }
}