// .main-container-home {
//   background-image: url('../../assets/home-background.png');
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-position: right;
// }


@include respond(desktop) {
  .main-container-home {
    background-image: url('../../assets/home-background.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    // margin-bottom: 130px;
    img {
      width: 900px;
    }
  }
}