// .main-container-home {
//   background-image: url('../../assets/home-background.png');
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-position: right;
// }


@include respond(desktop) {
  .main-container-home {
    background-image: url('../../assets/home-background.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    display: flex;
    justify-content: center;
    img {
      // width: 900px;
      // margin: auto;
      // display: flex;
      // justify-content: center;
    }
  }
}