.main-container-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  .information-title-section {
    font-size: 28px;
    align-self: center;
    text-align: center;
    color: $dark-yellow;
  }
  .map {
    width: 350px;
    margin: auto;
    .map-img {
      width: 300px;
      margin: auto;
      display: flex;
    }
    .contact {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      .social-media {
        display: flex;
        justify-content: center;
        align-items: center;
        .social-icon {
          width: 15px;
          height: auto;
          margin-right: 10px;
        }
        .link {
          font-size: 14px;
          color: black;
        }
      }
    }
    .left-right-container {
      padding-left: 30px;
      .left {
        .address {
          width: 300px;
          font-weight: 600;
          font-size: 14px;
          color: $blue-green;
        }
        .address-description {
          width: 300px;
          font-size: 14px;
        }
        .class {
          color: $red;
        }
      }
      .right {
        .transport {
          width: 300px;

          font-size: 14px;
          font-weight: 600;
          color: $blue-green;
        }
        .bus {
          width: 300px;
          display: flex;
          flex-direction: column;
          .bus-description {
            display: flex;
            flex-direction: row;
            .bus-description-text {
              color: $green;
              margin-right: 10px;
              strong {
                color: black;
              }
            }
            .image-bus-color {
              height: 10px;
              align-self: center;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}

@include respond(tablet) {
  .main-container-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    .information-title-section {
      font-size: 38px;
      align-self: center;
      text-align: center;
      color: $dark-yellow;
    }
    .map {
      margin: auto;
      .map-img {
        width: 400px;
        margin: auto;
        display: flex;
      }
      .left-right-container {
        .left {
          .address {
            width: 300px;
            font-weight: 600;
            font-size: 14px;
            color: $blue-green;
          }
          .address-description {
            width: 300px;
            font-size: 18px;
          }
        }
        .right {
          .transport {
            width: 300px;

            font-size: 14px;
            font-weight: 600;
            color: $blue-green;
          }
          .bus {
            width: 300px;
            display: flex;
            flex-direction: column;
            .bus-description {
              display: flex;
              flex-direction: row;
              .bus-description-text {
                color: $green;
                margin-right: 10px;
                strong {
                  color: black;
                }
              }
              .image-bus-color {
                height: 10px;
                align-self: center;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@include respond(desktop) {
  .main-container-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin-bottom: 100px;
    .information-title-section {
      font-size: 70px;
      align-self: center;
      color: $dark-yellow;
      padding-left: 30px;
      text-align: left;
      width: 50%;
    }
    .map {
      width: 50%;
      .map-img {
        width: 550px;
        margin: auto;
        display: flex;
      }
      .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .social-media  {
          .social-icon {
          }
          .link {
          }
        }
      }
      .left-right-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .left  {
          margin-right: 30px;
          .address {
            font-weight: 600;
            font-size: 14px;
            color: $blue-green;
          }
          .address-description {
            font-size: 14px;
          }
          .groups {
            font-size: 14px;
            color: $violet;
            font-weight: 600;
          }
        }
        .right {
          padding-left: 30px;
          .transport {
            font-size: 14px;
            font-weight: 600;
            color: $blue-green;
          }
          .bus {
            display: flex;
            .bus-description {
              display: flex;
              flex-direction: row;
              .bus-description-text {
                margin-right: 10px;
                color: $green;
                strong {
                  color: black;
                }
              }
              .image-bus-color {
                height: 10px;
                align-self: center;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@include respond(desktopLarge) {
  .main-container-info {
    width: 1400px;
  }
}
