.main-container-info {
  padding: 0px 100px;

  .contact-section-title {
    font-size: 1.1em;
    text-decoration: underline;
  }
  .bus-description {
    padding: 0px 0px 20px 0px;
    li {
      .bullet {
        display: inline-block;
        background-color: #ff8a80;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }

  .contact {
    padding: 0px 0px 30px 0px;
    .social-media {
      display: flex;
      align-items: center;
      padding: 10px 0px;
      a {
        padding-left: 10px;
        color: black;
      }
    }
    .social-media a:hover {
      color: #ff8a80;
    }
  }
}

// .main-container-info {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   justify-content: space-between;

//   .contact-container {
//     margin: auto;
//     margin-bottom: 30px;
//     .contact-text {
//       margin-top: 30px;
//       display: flex;
//       flex-direction: column;
//       .class {
//         color: black;
//       }
//       .social-media {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         .social-icon {
//           width: 15px;
//           height: auto;
//         }
//         .link {
//           font-size: 14px;
//           color: black;
//           margin-left: 10px;
//         }
//       }
//     }
//     .left-right-container {
//       padding-left: 30px;
//       .left {
//         .address {
//           width: 300px;
//           font-weight: 600;
//           font-size: 14px;
//           color: black;
//         }
//         .address-description {
//           width: 300px;
//           font-size: 14px;
//         }
//       }
//       .right {
//         .transport {
//           width: 300px;

//           font-size: 14px;
//           font-weight: 600;
//           color: black;
//         }
//         .bus {
//           width: 300px;
//           display: flex;
//           flex-direction: column;
//           .bus-description {
//             display: flex;
//             flex-direction: row;
//             font-size: 14px;
//             .bus-description-text {
//               font-size: 14px;
//               color: black;
//               strong {
//                 color: black;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }

// // @include respond(tablet) {
// //   .main-container-info {
// //     .information-title-section {
// //       font-size: 30px;
// //       color: #eba742;
// //       align-self: center;
// //     }
// //     .contact-container {
// //       // width: 100%;
// //       width: 700px;
// //       margin-bottom: 30px;
// //       .left-right-container {
// //         display: flex;
// //         flex-direction: column;
// //         // justify-content: center;
// //         .left {
// //           .address {
// //             font-weight: 600;
// //             font-size: 14px;
// //             color: black;
// //           }
// //           .address-description {
// //             width: 100%;
// //             font-size: 14px;
// //           }
// //         }
// //         .right {
// //           .transport {
// //             font-size: 14px;
// //             font-weight: 600;
// //             color: black;
// //           }
// //           .bus {
// //             width: 100%;
// //             .bus-description {
// //               font-size: 14px;
// //               // display: flex;
// //               // flex-direction: column;
// //               // .bus-description-text {
// //               //   color: black;
// //               //   strong {
// //               //     color: black;
// //               //   }
// //               // }
// //             }
// //           }
// //         }
// //       }
// //       .contact {
// //         display: flex;
// //         flex-direction: row;
// //         justify-content: space-between;
// //         .social-media  {
// //           .social-icon {
// //           }
// //           .link {
// //             margin-left: 10px;
// //           }
// //         }
// //       }
// //     }
// //   }
// // }

// // @include respond(desktop) {
// //   .main-container-info {
// //     .information-title-section {
// //       font-size: 30px;
// //       color: #eba742;
// //       align-self: center;
// //     }
// //     .contact-container {
// //       // width: 100%;
// //       width: 700px;
// //       margin-bottom: 30px;
// //       .left-right-container {
// //         display: flex;
// //         flex-direction: column;
// //         // justify-content: center;
// //         .left {
// //           .address {
// //             font-weight: 600;
// //             font-size: 14px;
// //             color: black;
// //           }
// //           .address-description {
// //             width: 100%;
// //             font-size: 14px;
// //           }
// //         }
// //         .right {
// //           .transport {
// //             font-size: 14px;
// //             font-weight: 600;
// //             color: black;
// //           }
// //           .bus {
// //             width: 100%;
// //             .bus-description {
// //               font-size: 14px;
// //             }
// //           }
// //         }
// //       }
// //       .contact {
// //         display: flex;
// //         flex-direction: row;
// //         justify-content: space-between;
// //         .social-media  {
// //           .social-icon {
// //           }
// //           .link {
// //             margin-left: 10px;
// //           }
// //         }
// //       }
// //     }
// //   }
// // }
